MAIN_BACKEND_SPRING_BOOT_HOST = '...'
MAIN_DATABASE_MYSQL_USER = '...'
MAIN_DATABSAE_MYSQL_PASSWORD = '...'
MAIN_DATABASE_MYSQL_HOST = '...'
MAIN_DATABASE_MYSQL_PORT = '...'
MAIN_DATABASE_MYSQL_DATABASE_NAME = '...'


def get_main_database_mysql_url() -> str:
    return 'mysql+mysqlconnector://{}:{}@{}:{}/{}'.format(
        MAIN_DATABASE_MYSQL_USER,
        MAIN_DATABSAE_MYSQL_PASSWORD,
        MAIN_DATABASE_MYSQL_HOST,
        MAIN_DATABASE_MYSQL_PORT,
        MAIN_DATABASE_MYSQL_DATABASE_NAME
    )
